<div class="text-center">
    <h4 class="display-6">
        <span onclick="history.back()"
              style="font-size: 20px; cursor: pointer; color: darkslateblue"><- Back </span>
        Telegram SClient by
        <a href="https://github.com/Bioneisme" target="_blank" style="text-decoration: none">Bioneisme</a>
    </h4>
</div>